@import "../../style/abstracts/mixins";

.header {
  &-wrap {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    transition: all .5s;

    &.active {
      background-color: #FFF;
    }
  }

  @include layout;
  padding: 0 40px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    width: 28px;
    height: 28px;

    a {
      display: block;
      width: 100%;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  nav {
    a {
      @include descFont;
      display: inline-block;
      margin-left: 20px;
      padding: 6px;
      width: 80px;
      text-align: center;

      &.active {
        border-bottom: 1px solid #3E3E3E;
      }
    }
  }
}